
<p-toast></p-toast>

<div class="card">
    <p-toolbar styleClass="p-mb-4">
        <ng-template pTemplate="right">
            <button pButton pRipple label="Agregar Personal" icon="pi pi-plus" class="p-button-success p-mr-2" (click)="openNew()"></button>
            
        </ng-template>
    </p-toolbar>

    <p-table #dt [value]="personal" [rows]="10" [paginator]="true" [globalFilterFields]="['nombre','apellido', 'jerarquia','codigoEstadistico','destinoHabitual']" responsiveLayout="scroll"
        [(selection)]="selectedProducts" [rowHover]="true" dataKey="id"
        currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} entradas" [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="p-d-flex p-ai-center p-jc-between">
                <h5 class="p-m-0">LISTADO DEL PERSONAL</h5>
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Buscar..." />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 3rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th pSortableColumn="nombre">Nombre <p-sortIcon field="nombre"></p-sortIcon></th>
                <th pSortableColumn="apellido">Apellido <p-sortIcon field="apellido"></p-sortIcon></th>
                <!-- <th>Image</th> -->
                <th pSortableColumn="jerarquia">Jerarquia <p-sortIcon field="jerarquia"></p-sortIcon></th>
                <th pSortableColumn="ce">CE <p-sortIcon field="ce"></p-sortIcon></th>
                <th pSortableColumn="ce">DNI <p-sortIcon field="ce"></p-sortIcon></th>
                <th pSortableColumn="destino">Destino <p-sortIcon field="destino"></p-sortIcon></th>
                
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-persona>
            <tr>
                <td>
                    <p-tableCheckbox [value]="persona"></p-tableCheckbox>
                </td>
                <td>{{persona.nombre}}</td>
                <!-- <td><img [src]="'assets/showcase/images/demo/product/' + product.image" [alt]="product.name" width="100" class="p-shadow-4" /></td> -->
                <td>{{persona.apellido}}</td>
                <td>{{persona.jerarquia}}</td>
                <td>{{persona.codigoEstadistico}}</td>
                <td>{{persona.numeroDni}}</td>
                <td>{{persona.destinoHabitual}}</td>
                <!-- <td><p-rating [ngModel]="product.rating" [readonly]="true" [cancel]="false"></p-rating></td> -->
                
                <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" (click)="editProduct(persona)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteProduct(persona)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="p-d-flex p-ai-center p-jc-between">
                Total: {{personal ? personal.length : 0 }} personas.
            </div>
        </ng-template>
    </p-table>
</div>

<p-dialog [(visible)]="productDialog" [style]="{width: '450px'}" header="Datos Personales" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <!-- <img [src]="'assets/showcase/images/demo/product/' + product.image" [alt]="product.image" class="product-image" *ngIf="product.image"> -->
        <div class="p-field">
            <label for="name">Nombre</label>
            <input type="text" pInputText id="name" [(ngModel)]="persona.nombre" required autofocus />
            <small class="p-error" *ngIf="submitted && !persona.nombre">El Nombre es requerido.</small>
        </div>
        <div class="p-field">
            <label for="name">Apellido</label>
            <input type="text" pInputText id="name" [(ngModel)]="persona.apellido" required autofocus />
            <small class="p-error" *ngIf="submitted && !persona.nombre">El Apellido es requerido.</small>
        </div>
        <!-- <div class="p-field">
            <label for="description">description</label>
            <textarea id="description" pInputTextarea [(ngModel)]="persona.description" required rows="3" cols="20"></textarea>
        </div> -->
        <div class="p-field">
            <label for="inventoryStatus">Tipo Persona</label>
            <p-dropdown [(ngModel)]="persona.tipoPersona" inputId="inventoryStatus" [options]="statuses" placeholder="Seleccione un tipo">
                <ng-template let-option pTemplate="item">
                    <span [class]="'product-badge status-' + option.value">{{option.label}}</span>
                </ng-template>
            </p-dropdown>
        </div>
        <div class="p-field">
            <label for="inventoryStatus">Tipo DNI</label>
            <p-dropdown [(ngModel)]="persona.tipoPersona" inputId="inventoryStatus" [options]="tipoDni" placeholder="Seleccione un tipo de DNI">
                <ng-template let-option pTemplate="item">
                    <span [class]="'product-badge status-' + option.value">{{option.label}}</span>
                </ng-template>
            </p-dropdown>
        </div>
        <div class="p-field">
            <label for="name">DNI</label>
            <input type="text" pInputText id="numeroDni" [(ngModel)]="persona.numeroDni" required autofocus />
            <small class="p-error" *ngIf="submitted && !persona.codigoEstadistico">El número de DNI es requerido.</small>
        </div>
        <div class="p-field">
            <label for="name">Código Estadistico</label>
            <input type="text" pInputText id="codigoEstadictico" [(ngModel)]="persona.codigoEstadistico" required autofocus />
            <small class="p-error" *ngIf="submitted && !persona.codigoEstadistico">El Código estadístico es requerido.</small>
        </div>
        <div class="p-field">
            <label for="inventoryStatus">Jerarquia</label>
            <p-dropdown [(ngModel)]="persona.jerarquia" inputId="jerarquia" [options]="jerarquia" placeholder="Select">
                <ng-template let-option pTemplate="item">
                    <span [class]="'product-badge status-' + option.value">{{option.label}}</span>
                </ng-template>
            </p-dropdown>
        </div>
        <div class="p-field">
            <label for="inventoryStatus">Destino Habitual</label>
            <p-dropdown [(ngModel)]="persona.destinoHabitual" inputId="destinoHabitual" [options]="destino" placeholder="Select">
                <ng-template let-option pTemplate="item">
                    <span [class]="'product-badge status-' + option.value">{{option.label}}</span>
                </ng-template>
            </p-dropdown>
        </div>        
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-text" (click)="saveProduct()"></button>
    </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>